@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel

@{
    var pictureUrl = ViewData["pictureUrl"]?.ToString() ?? "";
    var link = ViewData["link"]?.ToString() ?? "";
    var dataTransition = ViewData["dataTransition"]?.ToString() ?? "";
    var text = ViewData["text"]?.ToString() ?? "";
    var alttext = ViewData["alttext"]?.ToString() ?? "";
    var active = ViewData["active"]?.ToString() ?? "";
    if (!string.IsNullOrEmpty(pictureUrl))
    {
        if (!string.IsNullOrEmpty(link))
        {
            <div class="item @active">
                <img src="@pictureUrl" data-thumb="@pictureUrl" alt="@alttext" style="width:100%;">
                <div class="carousel-caption">
                    <h3>@alttext</h3>
                    <p>@text</p>
                </div>
            </div>
        }
        else
        {
            <div class="item @active">
                <img src="@pictureUrl" data-thumb="@pictureUrl" alt="@alttext" style="width:100%;">
                <div class="carousel-caption">
                    <h3>@alttext</h3>
                    <p>@text</p>
                </div>
            </div>
        }
    }
}